@import '~@csstools/normalize.css';
.titleWraper {
    margin-top: 130px;
    text-align: center;
    min-height: 50px;
    h1 {
        padding: 25px 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
    }
}
.cardsWraper {
    width: 100%;
    height: auto;
    margin-top: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    .cardsBox {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
