@import '~@csstools/normalize.css';

.containerLogin {
    //background-color: #d5d5d5;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .boxLogin {
        width: 46%;
        height: 84%;
        background: #ffffff;
        box-shadow: 8px 8px 33px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .inputBox {
            width: 60%;
            input[type='text'],
            input[type='password'],
            select {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
        }
        .optLogin {
            /*INPUT SLIDER SWITCH */
            width: 60%;
            display: flex;
            display: flex;
            justify-content: space-between;

            p,
            div {
                display: inline;
                font-size: 15px;
            }
            .switch {
                position: relative;
                display: inline-block;
                width: 41.26px;
                height: 23.06px;
            }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: 0.4s;
                transition: 0.4s;
            }

            .slider:before {
                position: absolute;
                content: '';
                width: 18.2px;
                height: 18.2px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: 0.4s;
                transition: 0.4s;
            }

            input:checked + .slider {
                background-color: #2196f3;
            }

            input:focus + .slider {
                box-shadow: 0 0 1px #2196f3;
            }

            input:checked + .slider:before {
                -webkit-transform: translateX(15px);
                -ms-transform: translateX(15px);
                transform: translateX(15px);
            }

            /* Rounded sliders */
            .slider.round {
                border-radius: 34px;
            }

            .slider.round:before {
                border-radius: 50%;
            }

            /*INPUT SLIDER SWITCH END*/
        }

        .boxBtnMenu {
            width: 100%;
            position: absolute;
            bottom: 15px;
            display: flex;
            justify-content: center;
            button {
                width: 282px;
                height: 85px;
                background: #247ba0;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
                color: #fff;
                border: 0px;
            }
        }
    }
}
